@use 'config' as *;

/**Develop Styles*/
body {
  background-color: $body-color;
}

header {
  height: 100vh;
  padding-top: 0 !important;
  background-image: $purple-gradient;
  position: relative;
  z-index: 1;
  overflow: hidden;
  .header__bkg {
    position: absolute;
    z-index: 2;
    height: 100vh;
    width: 50%;
    background-image: $fuschia-gradient;
    opacity: 0.6;
    right: 0;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
  }

  .header__ct {
    position: relative;
    z-index: 3;

    nav {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 180px;

      .brand__logo {
        a {
          font-size: $fs-big;
          display: flex;
          align-items: center;
          gap: 10px;
          i {
            background-image: $fuschia-gradient;
            background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          h1 {
            color: $body-color;
            font-weight: $fw-bold;
          }
        }
      }

      .burguer__menu {
        cursor: pointer;
        font-size: $fs-big;
        color: $body-color;
      }
    }

    .header__content {
      max-width: 60ch;
      span:nth-child(1) {
        color: $action-color;
        text-transform: uppercase;
        font-weight: bold;
        font-size: $fs-normal;
        display: inline-block;
        margin-bottom: 15px;
      }
      h1 {
        font-size: 2rem;
        color: $body-color;
        text-transform: uppercase;
        font-weight: $fw-bolder;
        margin-bottom: 20px;
      }
      p {
        color: $body-color;
        font-size: $fs-normal;
        margin-bottom: 30px;
      }

      .buttons__header {
        display: flex;
        gap: 20px;
        button {
          padding: 12px 15px;
          border-radius: 22px;
        }
        .btn__header__ticket {
          background-color: $action-color;
          color: $body-color;
          padding: 12px 30px 12px 30px;
        }
        .btn__header__teaser {
          background: transparent;
          border: 1px solid $body-color;
          color: $body-color;
        }
      }
    }
  }

  .speaker__img__header {
    display: none;
  }
}

.about {
  overflow: hidden;
  .about__ct {
    .about__content {
      margin-bottom: 50px;
      max-width: 75ch;
      span:nth-child(1) {
        color: $action-color;
        text-transform: uppercase;
        font-weight: bold;
        font-size: $fs-normal;
        display: inline-block;
        margin-bottom: 15px;
      }
      h1 {
        font-size: $fs-big;
        color: $brand-color;
        text-transform: uppercase;
        font-weight: $fw-bolder;
        margin-bottom: 20px;
      }

      p {
        font-weight: 400;
        opacity: 0.7;
        margin-bottom: 20px;
      }
      .btn__about {
        padding: 12px 30px 12px 30px;
        border-radius: 22px;
        background-color: $body-color;
        border: 1px solid $action-color;
        color: $action-color;

        &:hover {
          opacity: 0.6;
        }
      }
    }

    .about__img__wrapper {
      place-items: center;
      margin-bottom: 100px;
      cursor: pointer;
      .about__slider {
        width: 200px;
        img {
          width: 100%;
          border-radius: 10px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
      }

      .swiper-pagination-bullet-active {
        background-image: $fuschia-gradient;
      }
    }

    .about__cards__wrapper {
      place-items: center;
      gap: 1rem;
      .card__about {
        position: relative;
        overflow: hidden;
        color: $body-color;
        padding: 15px 10px;
        width: 190px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: $fs-big;
        border-radius: 5px;
        transition: all 0.2s ease-in;

        i {
          display: flex;
          justify-content: center;
          margin-bottom: 20px;
          width: 38px;
          background-color: $body-color;
          padding: 5px 5px;
          border-radius: 5px;
        }

        h1 {
          font-size: 2rem;
        }
        span {
          font-size: $fs-normal;
        }

        img {
          position: absolute;
          width: 80px;
          top: -15px;
          right: -20px;
          rotate: 148deg;
        }
      }
      .card__1 {
        background-color: $salmon;
        justify-self: flex-start;
        i {
          color: $action-color;
        }
        &:hover {
          rotate: 20deg;
        }
      }
      .card__2 {
        background-color: $orange;
        justify-self: flex-end;
        i {
          color: $orange;
        }
        &:hover {
          rotate: -20deg;
        }
      }
      .card__3 {
        background-color: $violet;
        justify-self: flex-start;
        i {
          color: $violet;
        }
        &:hover {
          rotate: 20deg;
        }
      }
      .card__4 {
        background-color: $royal-blue;
        justify-self: flex-end;
        i {
          color: $royal-blue;
        }
        &:hover {
          rotate: -20deg;
        }
      }
    }
  }
}

.speakers {
  background-color: $purple-bkg;
  .speakers__ct {
    .speakers__content {
      margin-bottom: 80px;
      span {
        color: $action-color;
        text-transform: uppercase;
        font-weight: bold;
        font-size: $fs-normal;
        display: inline-block;
        margin-bottom: 15px;
      }

      h1 {
        font-size: $fs-big;
        color: $body-color;
        text-transform: uppercase;
        font-weight: $fw-bolder;
        margin-bottom: 20px;
      }

      p {
        color: $body-color;
      }
    }

    .speakers__card__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1.5rem;
      place-items: center;
      margin-bottom: 40px;

      .speakers__card {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        .img__placeholder {
          background-image: $violet-gradient;
          border-radius: 50%;
          width: 150px;
          height: 150px;
          position: relative;
          overflow: hidden;
          display: flex;
          justify-content: center;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

          .speaker__img {
            position: absolute;
            z-index: 1;
          }
          .waves_c {
            position: absolute;
            z-index: 0;
            width: 163px;
            rotate: 81deg;
            opacity: 0.2;
          }

          .spk6 {
            top: -20%;
          }
        }

        .socials {
          position: relative;
          z-index: 3;
          margin: 0 auto;
          transform: translateY(-10px);
          background: $body-color;
          width: fit-content;
          border-radius: 22px;
          padding: 6px 15px;
          display: flex;
          align-items: center;
          gap: 10px;
          a {
            color: rgb(166, 172, 207);
          }
        }

        .speakers__info {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 5px;
          color: $body-color;
          h1 {
            font-size: $fs-normal;
            text-align: center;
          }

          span {
            font-size: $fs-small;
            text-align: center;
          }
        }
      }
    }

    .btn__speaker__wp {
      display: flex;
      justify-content: center;
      .btn__speakers {
        width: fit-content;
        padding: 12px 35px;
        border-radius: 22px;
        background: transparent;
        border: 1px solid $body-color;
        color: $body-color;

        &:hover {
          color: $action-color;
        }
      }
    }
  }
}

.tickets {
  background-color: $grey-darker-bkg;
  .tickets__ct {
    .tickets__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        color: $action-color;
        text-transform: uppercase;
        font-weight: bold;
        font-size: $fs-normal;
        display: inline-block;
        margin-bottom: 15px;
        text-align: center;
      }
      h1 {
        font-size: $fs-big;
        color: $brand-color;
        text-transform: uppercase;
        font-weight: $fw-bolder;
        margin-bottom: 60px;
        text-align: center;
      }
    }
    .tickets__wrapper {
      place-items: center;
      margin-bottom: 60px;
      .ticket {
        border: 5px solid $body-color;
        border-radius: 25px;
        background-color: $body-color;
        padding-bottom: 30px;
        width: 300px;
        .first__part {
          background-color: $grey-darker-bkg;
          padding: 30px 0px;
          border-radius: 25px;
          position: relative;
          z-index: 1;
          overflow: hidden;
          .first__part__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            position: relative;
            z-index: 3;
            span {
              color: $action-color;
              background-color: #ffdbec;
              border-radius: 22px;
              padding: 4px 22px;
            }
            h1 {
              font-size: 2rem;
              font-weight: $fw-bolder;
            }
          }
          img {
            position: absolute;
            width: 180px;
            z-index: 2;
            top: -20%;
            rotate: 10deg;
          }
        }

        .middle__part {
          position: relative;
          z-index: 1;
          height: 20px;
          margin-bottom: 20px;
          .circle__wrapper {
            gap: 5px;
            height: 100%;
            position: relative;
            display: flex;
            align-items: center;
            margin-left: 5px;
            margin-right: 5px;
            .circle {
              width: 8px;
              height: 8px;
              background-color: $grey-darker-bkg;
              border-radius: 50%;
            }
          }
          .side__clips {
            .side__clip1 {
              background-color: $grey-darker-bkg;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              position: absolute;
              z-index: 2;
              top: 0%;
              left: -17px;
            }
            .side__clip2 {
              background-color: $grey-darker-bkg;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              position: absolute;
              z-index: 2;
              top: 0%;
              right: -17px;
            }
          }
        }

        .bottom__part {
          padding: 5px 12px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-bottom: 20px;
          .info {
            display: flex;
            align-items: center;
            gap: 8px;
            span {
              opacity: 0.7;
            }
            .fa-circle-check {
              color: green;
              border-radius: 50%;
              background-color: rgb(214, 255, 214);
            }
            .fa-circle-xmark {
              color: red;
              border-radius: 50%;
              background-color: rgb(252, 229, 229);
            }
          }
          .info__cross {
            span {
              opacity: 0.3;
            }
          }
        }

        .button__ticket {
          display: flex;
          justify-content: center;
          a {
            background-color: $action-color;
            color: $body-color;
            border-radius: 22px;
            padding: 8px 35px;

            &:hover {
              opacity: 0.8;
            }
          }
        }
      }

      //**********
      .ticket__2 {
        background-color: #7750e7 !important;
        border: 5px solid #7750e7;
        .first__part {
          background-color: #5627e2 !important;
          span {
            color: $body-color !important;
            background-color: $orange !important;
          }
          h1 {
            color: $body-color;
          }
        }

        .bottom__part {
          span {
            color: $body-color;
            opacity: 1 !important;
          }
          .info__cross {
            span {
              opacity: 0.7 !important;
            }
          }
        }

        .button__ticket {
          a {
            background-color: $body-color;
            color: $violet;
          }
        }
      }

      .ticket__3 {
        .first__part {
          span {
            color: $violet !important;
            background-color: #e2d8ff !important;
          }
        }
      }
    }
  }

  .tickets__sponsors__wrapper {
    .sponsors__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        color: $action-color;
        text-transform: uppercase;
        font-weight: bold;
        font-size: $fs-normal;
        display: inline-block;
        margin-bottom: 15px;
        text-align: center;
      }
      h1 {
        font-size: $fs-big;
        color: $brand-color;
        text-transform: uppercase;
        font-weight: $fw-bolder;
        margin-bottom: 20px;
        text-align: center;
      }
    }
    .sponsors__grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0.8rem;
      place-items: center;
      .sponsor__img {
        width: 100px;
      }
    }
  }
}

.reviews {
  .reviews__ct {
    .reviews__content {
      display: flex;
      flex-direction: column;

      span {
        color: $action-color;
        text-transform: uppercase;
        font-weight: bold;
        font-size: $fs-normal;
        margin-bottom: 15px;
      }
      h1 {
        font-size: $fs-big;
        color: $brand-color;
        text-transform: uppercase;
        font-weight: $fw-bolder;
        margin-bottom: 20px;
      }

      .fa-quote-left {
        font-size: 2rem;
        opacity: 0.1;
        margin-bottom: 10px;
      }

      h3 {
        font-weight: $fw-bold;
        margin-bottom: 20px;
      }
      p {
        font-weight: $fw-medium;
        opacity: 0.8;
        margin-bottom: 20px;
      }

      .reviews__speaker {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
        .img__wp {
          width: 50px;
          background-color: $grey-darker-bkg;
          border-radius: 50%;
          overflow: hidden;
        }
        .rv__speaker__info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 3px;
          span {
            margin-bottom: 0 !important;
            color: $brand-color;
            text-transform: none;
            font-weight: $fw-medium;
            font-size: $fs-small;
            opacity: 0.8;
          }
        }
      }

      .reviews__arrows {
        display: flex;
        align-items: center;
        gap: 10px;

        i {
          font-size: $fs-big;

          &:nth-child(1) {
            opacity: 0.2;
          }
          &:nth-child(2) {
            color: $action-color;
          }
        }
      }
    }
  }
}

footer {
  background-color: $grey-darker-bkg;
  .footer__ct {
    .firstpart__wrapper {
      display: flex;
      flex-direction: column;
      gap: 60px;
      margin-bottom: 50px;
      .footer__content {
        display: flex;
        flex-direction: column;
        h1 {
          font-size: $fs-big;
          color: $brand-color;
          text-transform: uppercase;
          font-weight: $fw-bolder;
          margin-bottom: 20px;
        }
        span {
          opacity: 0.6;
          margin-bottom: 20px;
        }

        form {
          display: flex;
          align-items: center;
          position: relative;
          margin-bottom: 20px;

          input {
            position: relative;
            z-index: 1;
            width: 35ch;
            padding: 10px 0;
            padding-left: 20px;
            border-radius: 22px;
            border: none;
            outline: none;
            &::placeholder {
              opacity: 0.3;
            }
          }
          button {
            cursor: pointer;
            background-color: $action-color;
            color: $body-color;
            position: absolute;
            border-radius: 50%;
            z-index: 2;
            top: 15%;
            right: 10%;
            width: 32px;
            height: 32px;
            i {
              transition: all 0.25s ease-in;
            }

            &:hover i {
              transform: translateX(2px);
              rotate: 360deg;
            }
          }
        }

        .socials__form {
          display: flex;
          align-items: center;
          gap: 10px;
          a {
            color: $brand-color;
            opacity: 0.6;
            font-size: 1.2rem;
          }
        }
      }

      .footer__faqs {
        display: flex;
        flex-direction: column;
        h4 {
          font-size: 1.2rem;
          font-weight: $fw-medium;
          margin-bottom: 40px;
        }
        .faqs {
          .faq {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            border-bottom: 1px solid #c9c8c8;
            padding-bottom: 10px;
            i {
              cursor: pointer;
              transition: all 0.1s ease-in;
              &:hover {
                scale: 1.1;
              }
            }
          }
          .faq__3 {
            border-bottom: none;
          }
        }
      }
    }

    .line {
      height: 1px;
      width: 100%;
      background-color: $brand-color;
      opacity: 0.1;
      margin-bottom: 20px;
    }

    .copys__wrapper {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      gap: 10px;
      span {
        opacity: 0.4;
      }

      .brand__logo__ft {
        a {
          display: flex;
          align-items: center;
          gap: 10px;
          color: $brand-color;
          font-size: $fs-big;
          i {
            background-image: $fuschia-gradient;
            background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }

      .policys {
        display: flex;
        gap: 20px;
        justify-content: space-between;
      }
    }
  }
}
