/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/*=============== RESET STYLES ===============*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
}

body {
  line-height: 1.6;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

button {
  border: none;
  outline: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*=============== VARIABLES CSS ===============*/
/*========== Colors ==========*/
/*========== Font and typography ==========*/
/*========== Z index ==========*/
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 374px) {
  .buttons__header {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 585px) {
  .about__cards__wrapper {
    gap: 2.5rem !important;
  }
  .about__cards__wrapper .card__1 {
    justify-self: flex-end !important;
  }
  .about__cards__wrapper .card__2 {
    justify-self: flex-start !important;
  }
  .about__cards__wrapper .card__3 {
    justify-self: flex-end !important;
  }
  .about__cards__wrapper .card__4 {
    justify-self: flex-start !important;
  }
}
/* For medium devices */
@media screen and (min-width: 767px) {
  header .speaker__img__header {
    display: block !important;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(11%, -35%);
    width: 350px;
  }

  .about .about__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about .about__content h1,
.about .about__content p {
    text-align: center;
  }
  .about .about__cards__wrapper {
    gap: 1rem !important;
    grid-template-columns: repeat(4, 1fr);
  }
  .about .about__cards__wrapper .card__2 {
    justify-self: center !important;
  }
  .about .about__cards__wrapper .card__3 {
    justify-self: center !important;
  }

  .speakers .speakers__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .speakers .speakers__card__wrapper {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)) !important;
  }

  .tickets .sponsors__content {
    margin-bottom: 30px;
  }
  .tickets .sponsors__grid {
    grid-template-columns: repeat(4, 1fr) !important;
  }
  .tickets .sponsors__grid img {
    width: 120px !important;
  }

  .reviews {
    position: relative;
    overflow: hidden;
  }
  .reviews .reviews__ct .reviews__content {
    margin-left: 15%;
    width: 50%;
  }
  .reviews .reviews__ct .reviews__content p {
    max-width: 40ch;
  }
  .reviews .reviews__img__wp {
    width: 300px;
    display: block !important;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(132%, -45%);
  }

  footer .firstpart__wrapper {
    flex-direction: row !important;
    justify-content: center;
  }
  footer .firstpart__wrapper .footer__content {
    width: 50%;
  }
  footer .firstpart__wrapper .footer__content span {
    max-width: 40ch;
  }
  footer .firstpart__wrapper .footer__faqs {
    max-width: 40ch;
  }
  footer .copys__wrapper {
    flex-direction: row !important;
    width: 100%;
    justify-content: space-between !important;
  }
}
/* For large devices */
@media screen and (min-width: 1024px) {
  header .speaker__img__header {
    transform: translate(11%, -44%);
    width: 450px;
  }
  header .burguer__menu {
    display: none;
  }
  header nav {
    justify-content: space-between !important;
    margin-bottom: 150px !important;
  }
  header nav .brand__logo a {
    font-size: 2.8rem !important;
  }
  header nav .nav__laptop__links {
    display: flex !important;
    align-items: center;
    gap: 40px;
  }
  header nav .nav__laptop__links a {
    color: #ffffff;
    font-size: 1.1rem;
    opacity: 0.7;
  }
  header nav .nav__laptop__links a:hover {
    border-bottom: 1px solid #ffffff;
  }
  header nav .nav__laptop__links button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 8px 22px;
    border-radius: 22px;
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-weight: 500;
    opacity: 0.9;
  }
  header nav .nav__laptop__links button:hover {
    border: 1px solid #fe2083;
  }

  .about .about__ct {
    margin-bottom: 100px;
  }
  .about .about__ct .about__img__wrapper {
    margin-bottom: 150px !important;
  }

  .speakers .speakers__card__wrapper {
    grid-template-columns: repeat(5, 1fr) !important;
    gap: 3.5rem !important;
  }

  .reviews {
    padding-top: 100px !important;
  }
  .reviews .reviews__img__wp {
    width: 380px;
    transform: translate(132%, -50%);
  }
}
@media screen and (min-width: 1400px) {
  header .speaker__img__header {
    transform: translate(11%, -35%);
    width: 650px;
  }
  header nav {
    margin-bottom: 220px !important;
  }
  header nav .brand__logo a h1 {
    font-size: 2rem;
  }
  header nav .nav__laptop__links a {
    font-size: 1.4rem;
  }
  header nav .nav__laptop__links button {
    font-size: 1.3rem;
  }
  header .header__content {
    /*   margin-top: 200px !important; */
  }
  header .header__content span:first-child {
    font-size: 1.5rem !important;
  }
  header .header__content h1 {
    font-size: 2.2rem !important;
  }
  header .header__content p {
    font-size: 1rem !important;
  }
  header .header__content .buttons__header button {
    font-size: 1.2rem !important;
  }

  .reviews .reviews__content {
    margin-left: 80px !important;
  }
  .reviews .reviews__content span:first-of-type {
    font-size: 1.2rem !important;
  }
  .reviews .reviews__content h1 {
    font-size: 1.7rem !important;
  }
  .reviews .reviews__content h3 {
    font-size: 1.3rem !important;
  }
  .reviews .reviews__content .rv__speaker__info span {
    font-size: 1rem !important;
  }
  .reviews .reviews__content .rv__speaker__info h4 {
    font-size: 1.2rem !important;
  }
}
/*=============== GENERAL STYLES===============*/
body {
  font-family: "Roboto", sans-serif;
  font-size: 0.938rem;
  font-weight: 500;
}

h1,
h2 {
  font-size: 1.5rem;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px 25px;
}

.section {
  padding: 3.5rem 0 1rem;
}

.blog-post {
  width: clamp(45ch, 50%, 75ch);
}

/*Create space between elements without the affecting the first*/
.flow > * + * {
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
}

.flex {
  display: flex;
  gap: 1rem;
}

.btn {
  cursor: pointer;
  text-decoration: none;
  border: none;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0.5rem;
  font-weight: 700;
  line-height: 1;
}
.btn:hover, .btn:focus {
  opacity: 0.9;
}

.fa-facebook:hover {
  color: #3b5998;
}

.fa-twitter:hover {
  color: #00aced;
}

.fa-youtube,
.fa-youtube-play,
.fa-youtube-square:hover {
  color: #bb0000;
}

.fa-linkedin:hover {
  color: #007bb6;
}

.fa-instagram:hover {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

.nav__mobile {
  position: absolute;
  z-index: 100;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -60%);
  background-color: #ffffff;
  height: 78%;
  width: 95%;
  border-radius: 20px;
  display: grid;
  place-items: center;
  transition: all 0.5s ease-in-out;
}
.nav__mobile .nav__mobile__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.nav__mobile .nav__mobile__links a {
  color: #000f22;
  font-size: 1.5rem;
}
.nav__mobile .nav__mobile__links a:hover {
  color: #fe2083;
  border-bottom: 1px solid #fe2083;
}
.nav__mobile i {
  cursor: pointer;
  position: absolute;
  top: 3%;
  right: 7%;
  font-size: 2rem;
}

/******ALL FILES TO IMPORT*****/
/**Develop Styles*/
body {
  background-color: #ffffff;
}

header {
  height: 100vh;
  padding-top: 0 !important;
  background-image: linear-gradient(90deg, #201147, #21124a, #22134c, #23144f, #241651, #241754, #251856, #261959);
  position: relative;
  z-index: 1;
  overflow: hidden;
}
header .header__bkg {
  position: absolute;
  z-index: 2;
  height: 100vh;
  width: 50%;
  background-image: linear-gradient(90deg, #ed458e, #e33495, #d7239d, #c713a6, #b409b0, #9c0dba, #7d19c4, #4f24ce);
  opacity: 0.6;
  right: 0;
  border-top-left-radius: 3%;
  border-bottom-left-radius: 3%;
}
header .header__ct {
  position: relative;
  z-index: 3;
}
header .header__ct nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 100px;
}
header .header__ct nav .nav__laptop__links {
  display: none;
}
header .header__ct nav .brand__logo a {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 10px;
}
header .header__ct nav .brand__logo a i {
  background-image: linear-gradient(90deg, #ed458e, #e33495, #d7239d, #c713a6, #b409b0, #9c0dba, #7d19c4, #4f24ce);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
header .header__ct nav .brand__logo a h1 {
  color: #ffffff;
  font-weight: 700;
}
header .header__ct nav .burguer__menu {
  cursor: pointer;
  font-size: 1.5rem;
  color: #ffffff;
}
header .header__ct .header__content {
  max-width: 60ch;
}
header .header__ct .header__content span:nth-child(1) {
  color: #fe2083;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.938rem;
  display: inline-block;
  margin-bottom: 15px;
}
header .header__ct .header__content h1 {
  font-size: 2rem;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 20px;
}
header .header__ct .header__content p {
  color: #ffffff;
  font-size: 0.938rem;
  margin-bottom: 30px;
}
header .header__ct .header__content .buttons__header {
  display: flex;
  gap: 20px;
}
header .header__ct .header__content .buttons__header button {
  padding: 12px 15px;
  border-radius: 22px;
}
header .header__ct .header__content .buttons__header .btn__header__ticket {
  background-color: #fe2083;
  color: #ffffff;
  padding: 12px 30px 12px 30px;
  text-transform: uppercase;
}
header .header__ct .header__content .buttons__header .btn__header__teaser {
  background: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}
header .speaker__img__header {
  display: none;
}

.about {
  overflow: hidden;
}
.about .about__ct .about__content {
  margin-bottom: 50px;
}
.about .about__ct .about__content span:nth-child(1) {
  color: #fe2083;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.938rem;
  display: inline-block;
  margin-bottom: 15px;
}
.about .about__ct .about__content h1 {
  font-size: 1.5rem;
  color: #000f22;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 20px;
}
.about .about__ct .about__content p {
  font-weight: 400;
  opacity: 0.7;
  margin-bottom: 20px;
  max-width: 75ch;
}
.about .about__ct .about__content .btn__about {
  padding: 12px 30px 12px 30px;
  border-radius: 22px;
  background-color: #ffffff;
  border: 1px solid #fe2083;
  color: #fe2083;
}
.about .about__ct .about__content .btn__about:hover {
  opacity: 0.6;
}
.about .about__ct .about__img__wrapper {
  place-items: center;
  margin-bottom: 100px;
  cursor: pointer;
}
.about .about__ct .about__img__wrapper .about__slider {
  width: 200px;
}
.about .about__ct .about__img__wrapper .about__slider img {
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.about .about__ct .about__img__wrapper .swiper-pagination-bullet-active {
  background-image: linear-gradient(90deg, #ed458e, #e33495, #d7239d, #c713a6, #b409b0, #9c0dba, #7d19c4, #4f24ce);
}
.about .about__ct .about__cards__wrapper {
  place-items: center;
  gap: 1rem;
}
.about .about__ct .about__cards__wrapper .card__about {
  position: relative;
  overflow: hidden;
  color: #ffffff;
  padding: 15px 10px;
  width: 190px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.5rem;
  border-radius: 5px;
  transition: all 0.2s ease-in;
}
.about .about__ct .about__cards__wrapper .card__about i {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 38px;
  background-color: #ffffff;
  padding: 5px 5px;
  border-radius: 5px;
}
.about .about__ct .about__cards__wrapper .card__about h1 {
  font-size: 2rem;
}
.about .about__ct .about__cards__wrapper .card__about span {
  font-size: 0.938rem;
}
.about .about__ct .about__cards__wrapper .card__about img {
  position: absolute;
  width: 80px;
  top: -15px;
  right: -20px;
  rotate: 148deg;
}
.about .about__ct .about__cards__wrapper .card__1 {
  background-color: #fe216a;
  justify-self: flex-start;
}
.about .about__ct .about__cards__wrapper .card__1 i {
  color: #fe2083;
}
.about .about__ct .about__cards__wrapper .card__1:hover {
  rotate: 20deg;
}
.about .about__ct .about__cards__wrapper .card__2 {
  background-color: #ff7433;
  justify-self: flex-end;
}
.about .about__ct .about__cards__wrapper .card__2 i {
  color: #ff7433;
}
.about .about__ct .about__cards__wrapper .card__2:hover {
  rotate: -20deg;
}
.about .about__ct .about__cards__wrapper .card__3 {
  background-color: #7750e7;
  justify-self: flex-start;
}
.about .about__ct .about__cards__wrapper .card__3 i {
  color: #7750e7;
}
.about .about__ct .about__cards__wrapper .card__3:hover {
  rotate: 20deg;
}
.about .about__ct .about__cards__wrapper .card__4 {
  background-color: #4759f9;
  justify-self: flex-end;
}
.about .about__ct .about__cards__wrapper .card__4 i {
  color: #4759f9;
}
.about .about__ct .about__cards__wrapper .card__4:hover {
  rotate: -20deg;
}

.speakers {
  background-color: #231254;
}
.speakers .speakers__ct .speakers__content {
  margin-bottom: 80px;
}
.speakers .speakers__ct .speakers__content span {
  color: #fe2083;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.938rem;
  display: inline-block;
  margin-bottom: 15px;
}
.speakers .speakers__ct .speakers__content h1 {
  font-size: 1.5rem;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 20px;
}
.speakers .speakers__ct .speakers__content p {
  color: #ffffff;
}
.speakers .speakers__ct .speakers__card__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  place-items: center;
  margin-bottom: 40px;
}
.speakers .speakers__ct .speakers__card__wrapper .speakers__card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.speakers .speakers__ct .speakers__card__wrapper .speakers__card .img__placeholder {
  background-image: linear-gradient(90deg, #e45eae, #e05cb8, #db5bc2, #d45bcd, #cb5cd8, #c05fe3, #b162ef, #9f66fa);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.speakers .speakers__ct .speakers__card__wrapper .speakers__card .img__placeholder .speaker__img {
  position: absolute;
  z-index: 1;
}
.speakers .speakers__ct .speakers__card__wrapper .speakers__card .img__placeholder .waves_c {
  position: absolute;
  z-index: 0;
  width: 163px;
  rotate: 81deg;
  opacity: 0.2;
}
.speakers .speakers__ct .speakers__card__wrapper .speakers__card .img__placeholder .spk6 {
  top: -20%;
}
.speakers .speakers__ct .speakers__card__wrapper .speakers__card .socials {
  position: relative;
  z-index: 3;
  margin: 0 auto;
  transform: translateY(-10px);
  background: #ffffff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 22px;
  padding: 6px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.speakers .speakers__ct .speakers__card__wrapper .speakers__card .socials a {
  color: rgb(166, 172, 207);
}
.speakers .speakers__ct .speakers__card__wrapper .speakers__card .speakers__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  color: #ffffff;
}
.speakers .speakers__ct .speakers__card__wrapper .speakers__card .speakers__info h1 {
  font-size: 0.938rem;
  text-align: center;
}
.speakers .speakers__ct .speakers__card__wrapper .speakers__card .speakers__info span {
  font-size: 0.813rem;
  text-align: center;
}
.speakers .speakers__ct .btn__speaker__wp {
  display: flex;
  justify-content: center;
}
.speakers .speakers__ct .btn__speaker__wp .btn__speakers {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 35px;
  border-radius: 22px;
  background: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  margin-bottom: 50px;
}
.speakers .speakers__ct .btn__speaker__wp .btn__speakers:hover {
  color: #fe2083;
}

.tickets {
  background-color: #eff1fd;
}
.tickets .tickets__ct .tickets__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tickets .tickets__ct .tickets__content span {
  color: #fe2083;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.938rem;
  display: inline-block;
  margin-bottom: 15px;
  text-align: center;
}
.tickets .tickets__ct .tickets__content h1 {
  font-size: 1.5rem;
  color: #000f22;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 60px;
  text-align: center;
}
.tickets .tickets__ct .tickets__wrapper {
  place-items: center;
  margin-bottom: 60px;
}
.tickets .tickets__ct .tickets__wrapper .ticket {
  border: 5px solid #ffffff;
  border-radius: 25px;
  background-color: #ffffff;
  padding-bottom: 30px;
  width: 300px;
}
.tickets .tickets__ct .tickets__wrapper .ticket .first__part {
  background-color: #eff1fd;
  padding: 30px 0px;
  border-radius: 25px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.tickets .tickets__ct .tickets__wrapper .ticket .first__part .first__part__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  z-index: 3;
}
.tickets .tickets__ct .tickets__wrapper .ticket .first__part .first__part__content span {
  color: #fe2083;
  background-color: #ffdbec;
  border-radius: 22px;
  padding: 4px 22px;
}
.tickets .tickets__ct .tickets__wrapper .ticket .first__part .first__part__content h1 {
  font-size: 2rem;
  font-weight: 900;
}
.tickets .tickets__ct .tickets__wrapper .ticket .first__part img {
  position: absolute;
  width: 180px;
  z-index: 2;
  top: -20%;
  rotate: 10deg;
}
.tickets .tickets__ct .tickets__wrapper .ticket .middle__part {
  position: relative;
  z-index: 1;
  height: 20px;
  margin-bottom: 20px;
}
.tickets .tickets__ct .tickets__wrapper .ticket .middle__part .circle__wrapper {
  gap: 5px;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}
.tickets .tickets__ct .tickets__wrapper .ticket .middle__part .circle__wrapper .circle {
  width: 8px;
  height: 8px;
  background-color: #eff1fd;
  border-radius: 50%;
}
.tickets .tickets__ct .tickets__wrapper .ticket .middle__part .side__clips .side__clip1 {
  background-color: #eff1fd;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  top: 0%;
  left: -17px;
}
.tickets .tickets__ct .tickets__wrapper .ticket .middle__part .side__clips .side__clip2 {
  background-color: #eff1fd;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  top: 0%;
  right: -17px;
}
.tickets .tickets__ct .tickets__wrapper .ticket .bottom__part {
  padding: 5px 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.tickets .tickets__ct .tickets__wrapper .ticket .bottom__part .info {
  display: flex;
  align-items: center;
  gap: 8px;
}
.tickets .tickets__ct .tickets__wrapper .ticket .bottom__part .info span {
  opacity: 0.7;
}
.tickets .tickets__ct .tickets__wrapper .ticket .bottom__part .info .fa-circle-check {
  color: green;
  border-radius: 50%;
  background-color: rgb(214, 255, 214);
}
.tickets .tickets__ct .tickets__wrapper .ticket .bottom__part .info .fa-circle-xmark {
  color: red;
  border-radius: 50%;
  background-color: rgb(252, 229, 229);
}
.tickets .tickets__ct .tickets__wrapper .ticket .bottom__part .info__cross span {
  opacity: 0.3;
}
.tickets .tickets__ct .tickets__wrapper .ticket .button__ticket {
  display: flex;
  justify-content: center;
}
.tickets .tickets__ct .tickets__wrapper .ticket .button__ticket a {
  background-color: #fe2083;
  color: #ffffff;
  border-radius: 22px;
  padding: 8px 35px;
}
.tickets .tickets__ct .tickets__wrapper .ticket .button__ticket a:hover {
  opacity: 0.8;
}
.tickets .tickets__ct .tickets__wrapper .ticket__2 {
  background-color: #7750e7 !important;
  border: 5px solid #7750e7;
}
.tickets .tickets__ct .tickets__wrapper .ticket__2 .first__part {
  background-color: #5627e2 !important;
}
.tickets .tickets__ct .tickets__wrapper .ticket__2 .first__part span {
  color: #ffffff !important;
  background-color: #ff7433 !important;
}
.tickets .tickets__ct .tickets__wrapper .ticket__2 .first__part h1 {
  color: #ffffff;
}
.tickets .tickets__ct .tickets__wrapper .ticket__2 .bottom__part span {
  color: #ffffff;
  opacity: 1 !important;
}
.tickets .tickets__ct .tickets__wrapper .ticket__2 .bottom__part .info__cross span {
  opacity: 0.7 !important;
}
.tickets .tickets__ct .tickets__wrapper .ticket__2 .button__ticket a {
  background-color: #ffffff;
  color: #7750e7;
}
.tickets .tickets__ct .tickets__wrapper .ticket__3 .first__part span {
  color: #7750e7 !important;
  background-color: #e2d8ff !important;
}
.tickets .tickets__sponsors__wrapper .sponsors__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tickets .tickets__sponsors__wrapper .sponsors__content span {
  color: #fe2083;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.938rem;
  display: inline-block;
  margin-bottom: 15px;
  text-align: center;
}
.tickets .tickets__sponsors__wrapper .sponsors__content h1 {
  font-size: 1.5rem;
  color: #000f22;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 20px;
  text-align: center;
}
.tickets .tickets__sponsors__wrapper .sponsors__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.8rem;
  place-items: center;
}
.tickets .tickets__sponsors__wrapper .sponsors__grid .sponsor__img {
  width: 100px;
}

.reviews .reviews__ct .reviews__content {
  display: flex;
  flex-direction: column;
}
.reviews .reviews__ct .reviews__content span {
  color: #fe2083;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.938rem;
  margin-bottom: 15px;
}
.reviews .reviews__ct .reviews__content h1 {
  font-size: 1.5rem;
  color: #000f22;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 20px;
}
.reviews .reviews__ct .reviews__content .fa-quote-left {
  font-size: 2rem;
  opacity: 0.1;
  margin-bottom: 10px;
}
.reviews .reviews__ct .reviews__content h3 {
  font-weight: 700;
  margin-bottom: 20px;
}
.reviews .reviews__ct .reviews__content p {
  font-weight: 500;
  opacity: 0.8;
  margin-bottom: 20px;
}
.reviews .reviews__ct .reviews__content .reviews__speaker {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.reviews .reviews__ct .reviews__content .reviews__speaker .img__wp {
  width: 50px;
  background-color: #eff1fd;
  border-radius: 50%;
  overflow: hidden;
}
.reviews .reviews__ct .reviews__content .reviews__speaker .rv__speaker__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}
.reviews .reviews__ct .reviews__content .reviews__speaker .rv__speaker__info span {
  margin-bottom: 0 !important;
  color: #000f22;
  text-transform: none;
  font-weight: 500;
  font-size: 0.813rem;
  opacity: 0.8;
}
.reviews .reviews__ct .reviews__content .reviews__arrows {
  display: flex;
  align-items: center;
  gap: 10px;
}
.reviews .reviews__ct .reviews__content .reviews__arrows i {
  font-size: 1.5rem;
}
.reviews .reviews__ct .reviews__content .reviews__arrows i:nth-child(1) {
  opacity: 0.2;
}
.reviews .reviews__ct .reviews__content .reviews__arrows i:nth-child(2) {
  color: #fe2083;
}
.reviews .reviews__img__wp {
  display: none;
}

footer {
  background-color: #eff1fd;
}
footer .footer__ct .firstpart__wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 50px;
}
footer .footer__ct .firstpart__wrapper .footer__content {
  display: flex;
  flex-direction: column;
}
footer .footer__ct .firstpart__wrapper .footer__content h1 {
  font-size: 1.5rem;
  color: #000f22;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 20px;
}
footer .footer__ct .firstpart__wrapper .footer__content span {
  opacity: 0.6;
  margin-bottom: 20px;
}
footer .footer__ct .firstpart__wrapper .footer__content form {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  width: 35ch;
}
footer .footer__ct .firstpart__wrapper .footer__content form input {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 10px 0;
  padding-left: 20px;
  border-radius: 22px;
  border: none;
  outline: none;
}
footer .footer__ct .firstpart__wrapper .footer__content form input::-moz-placeholder {
  opacity: 0.3;
}
footer .footer__ct .firstpart__wrapper .footer__content form input:-ms-input-placeholder {
  opacity: 0.3;
}
footer .footer__ct .firstpart__wrapper .footer__content form input::placeholder {
  opacity: 0.3;
}
footer .footer__ct .firstpart__wrapper .footer__content form button {
  cursor: pointer;
  background-color: #fe2083;
  color: #ffffff;
  position: absolute;
  border-radius: 50%;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(336%, -50%);
  width: 32px;
  height: 32px;
}
footer .footer__ct .firstpart__wrapper .footer__content form button i {
  transition: all 0.25s ease-in;
}
footer .footer__ct .firstpart__wrapper .footer__content form button:hover i {
  transform: translateX(2px);
  rotate: 360deg;
}
footer .footer__ct .firstpart__wrapper .footer__content .socials__form {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .footer__ct .firstpart__wrapper .footer__content .socials__form a {
  color: #000f22;
  opacity: 0.6;
  font-size: 1.2rem;
}
footer .footer__ct .firstpart__wrapper .footer__faqs {
  display: flex;
  flex-direction: column;
}
footer .footer__ct .firstpart__wrapper .footer__faqs h4 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 40px;
}
footer .footer__ct .firstpart__wrapper .footer__faqs .faqs .faq {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid #c9c8c8;
  padding-bottom: 10px;
}
footer .footer__ct .firstpart__wrapper .footer__faqs .faqs .faq i {
  cursor: pointer;
  transition: all 0.3s ease-in;
}
footer .footer__ct .firstpart__wrapper .footer__faqs .faqs .faq i:hover {
  transform: translateX(2px);
  rotate: 360deg;
}
footer .footer__ct .firstpart__wrapper .footer__faqs .faqs .faq__3 {
  border-bottom: none;
}
footer .footer__ct .line {
  height: 1px;
  width: 100%;
  background-color: #000f22;
  opacity: 0.1;
  margin-bottom: 20px;
}
footer .footer__ct .copys__wrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
footer .footer__ct .copys__wrapper span {
  opacity: 0.4;
}
footer .footer__ct .copys__wrapper .j {
  opacity: 1 !important;
  color: #fe2083;
}
footer .footer__ct .copys__wrapper .m {
  opacity: 1 !important;
  color: #7750e7;
}
footer .footer__ct .copys__wrapper .brand__logo__ft a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #000f22;
  font-size: 1.5rem;
}
footer .footer__ct .copys__wrapper .brand__logo__ft a i {
  background-image: linear-gradient(90deg, #ed458e, #e33495, #d7239d, #c713a6, #b409b0, #9c0dba, #7d19c4, #4f24ce);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer .footer__ct .copys__wrapper .policys {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}/*# sourceMappingURL=styles.css.map */