/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/*=============== RESET STYLES ===============*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
}

body {
  line-height: 1.6;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*=============== BREAKPOINTS ===============*/
/* For small devices */
/* For medium devices */
/* For large devices */
/*=============== VARIABLES CSS ===============*/
/*========== Colors ==========*/
/*========== Font and typography ==========*/
/*========== Z index ==========*/
/*=============== GENERAL STYLES===============*/
body {
  font-family: "Roboto", sans-serif;
  font-size: 0.938rem;
  font-weight: 500;
}

h1,
h2 {
  font-size: 1.5rem;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px 25px;
}

.section {
  padding: 4.5rem 0 1rem;
}

.blog-post {
  width: clamp(45ch, 50%, 75ch);
}

/*Create space between elements without the affecting the first*/
.flow > * + * {
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
}

.flex {
  display: flex;
  gap: 1rem;
}

.btn {
  cursor: pointer;
  text-decoration: none;
  border: none;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0.5rem;
  font-weight: 700;
  line-height: 1;
}
.btn:hover, .btn:focus {
  opacity: 0.9;
}

/******ALL FILES TO IMPORT*****/
/**Develop Styles*/
header {
  height: 100vh;
  padding-top: 0 !important;
  background-image: linear-gradient(90deg, #201147, #21124a, #22134c, #23144f, #241651, #241754, #251856, #261959);
  position: relative;
  z-index: 1;
  overflow: hidden;
}
header .header__bkg {
  position: absolute;
  z-index: 2;
  height: 100vh;
  width: 50%;
  background-image: linear-gradient(90deg, #ed458e, #e33495, #d7239d, #c713a6, #b409b0, #9c0dba, #7d19c4, #4f24ce);
  opacity: 0.6;
  right: 0;
  border-top-left-radius: 3%;
  border-bottom-left-radius: 3%;
}
header .header__ct {
  position: relative;
  z-index: 3;
}
header .header__ct nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 180px;
}
header .header__ct nav .brand__logo a {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 10px;
}
header .header__ct nav .brand__logo a i {
  background-image: linear-gradient(90deg, #ed458e, #e33495, #d7239d, #c713a6, #b409b0, #9c0dba, #7d19c4, #4f24ce);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
header .header__ct nav .brand__logo a h1 {
  color: #ffffff;
  font-weight: 700;
}
header .header__ct nav .burguer__menu {
  font-size: 1.5rem;
  color: #ffffff;
}
header .header__ct .header__content span:nth-child(1) {
  color: #fe2083;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.938rem;
  display: inline-block;
  margin-bottom: 15px;
}
header .header__ct .header__content h1 {
  font-size: 2rem;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 20px;
}
header .header__ct .header__content p {
  color: #ffffff;
  font-size: 0.938rem;
  margin-bottom: 30px;
}
header .header__ct .header__content .buttons__header {
  display: flex;
  gap: 20px;
}
header .header__ct .header__content .buttons__header button {
  padding: 12px 15px;
  border-radius: 22px;
}
header .header__ct .header__content .buttons__header .btn__header__ticket {
  background-color: #fe2083;
  color: #ffffff;
  padding: 12px 30px 12px 30px;
}
header .header__ct .header__content .buttons__header .btn__header__teaser {
  background: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.about .about__ct .about__content {
  margin-bottom: 50px;
}
.about .about__ct .about__content span:nth-child(1) {
  color: #fe2083;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.938rem;
  display: inline-block;
  margin-bottom: 15px;
}
.about .about__ct .about__content h1 {
  font-size: 1.5rem;
  color: #000f22;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 20px;
}
.about .about__ct .about__content p {
  font-weight: 400;
  opacity: 0.7;
  margin-bottom: 20px;
}
.about .about__ct .about__content .btn__about {
  padding: 12px 30px 12px 30px;
  border-radius: 22px;
  background-color: #ffffff;
  border: 1px solid #fe2083;
  color: #fe2083;
}
.about .about__ct .about__img__wrapper {
  place-items: center;
  margin-bottom: 100px;
}
.about .about__ct .about__img__wrapper .about__slider img {
  width: 250px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.about .about__ct .about__img__wrapper .swiper-pagination-bullet-active {
  background-image: linear-gradient(90deg, #ed458e, #e33495, #d7239d, #c713a6, #b409b0, #9c0dba, #7d19c4, #4f24ce);
}
.about .about__ct .about__cards__wrapper {
  place-items: center;
}
.about .about__ct .about__cards__wrapper .card__about {
  position: relative;
  overflow: hidden;
  color: #ffffff;
  padding: 15px 10px;
  width: 190px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.5rem;
  border-radius: 5px;
}
.about .about__ct .about__cards__wrapper .card__about i {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 38px;
  background-color: #ffffff;
  padding: 5px 5px;
  border-radius: 5px;
}
.about .about__ct .about__cards__wrapper .card__about h1 {
  font-size: 2rem;
}
.about .about__ct .about__cards__wrapper .card__about span {
  font-size: 0.938rem;
}
.about .about__ct .about__cards__wrapper .card__about img {
  position: absolute;
  width: 80px;
  top: -15px;
  right: -20px;
  rotate: 148deg;
}
.about .about__ct .about__cards__wrapper .card__1 {
  background-color: #fe216a;
  justify-self: flex-start;
}
.about .about__ct .about__cards__wrapper .card__1 i {
  color: #fe2083;
}
.about .about__ct .about__cards__wrapper .card__2 {
  background-color: #ff7433;
  justify-self: flex-end;
}
.about .about__ct .about__cards__wrapper .card__2 i {
  color: #ff7433;
}
.about .about__ct .about__cards__wrapper .card__3 {
  background-color: #7750e7;
  justify-self: flex-start;
}
.about .about__ct .about__cards__wrapper .card__3 i {
  color: #7750e7;
}
.about .about__ct .about__cards__wrapper .card__4 {
  background-color: #4759f9;
  justify-self: flex-end;
}
.about .about__ct .about__cards__wrapper .card__4 i {
  color: #4759f9;
}

.speakers {
  background-color: #231254;
}
.speakers .speakers__ct .speakers__content {
  margin-bottom: 80px;
}
.speakers .speakers__ct .speakers__content span {
  color: #fe2083;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.938rem;
  display: inline-block;
  margin-bottom: 15px;
}
.speakers .speakers__ct .speakers__content h1 {
  font-size: 1.5rem;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 20px;
}
.speakers .speakers__ct .speakers__content p {
  color: #ffffff;
}
.speakers .speakers__ct .speakers__card__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  place-items: center;
}
.speakers .speakers__ct .speakers__card__wrapper .speakers__card {
  position: relative;
}
.speakers .speakers__ct .speakers__card__wrapper .speakers__card .img__placeholder {
  background-image: linear-gradient(90deg, #e45eae, #e05cb8, #db5bc2, #d45bcd, #cb5cd8, #c05fe3, #b162ef, #9f66fa);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.speakers .speakers__ct .speakers__card__wrapper .speakers__card .img__placeholder .speaker__img {
  position: absolute;
  z-index: 1;
}
.speakers .speakers__ct .speakers__card__wrapper .speakers__card .img__placeholder .waves_c {
  position: absolute;
  z-index: 0;
  width: 163px;
  rotate: 81deg;
  opacity: 0.2;
}
.speakers .speakers__ct .speakers__card__wrapper .speakers__card .socials {
  position: relative;
  z-index: 3;
  margin: 0 auto;
  transform: translateY(-10px);
  background: #ffffff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 22px;
  padding: 6px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.speakers .speakers__ct .speakers__card__wrapper .speakers__card .socials a {
  color: rgb(166, 172, 207);
}
.speakers .speakers__ct .speakers__card__wrapper .speakers__card .speakers__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  color: #ffffff;
}
.speakers .speakers__ct .speakers__card__wrapper .speakers__card .speakers__info h1 {
  font-size: 0.938rem;
  text-align: center;
}
.speakers .speakers__ct .speakers__card__wrapper .speakers__card .speakers__info span {
  font-size: 0.813rem;
  text-align: center;
}/*# sourceMappingURL=styles.css.map */