@use 'variables' as *;
/*=============== GENERAL STYLES===============*/
body {
  font-family: $fam-font;
  font-size: $fs-normal;
  font-weight: $fw-medium;
}

h1,
h2 {
  font-size: $fs-big;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px 25px;
}
.section {
  padding: 4.5rem 0 1rem;
}
.blog-post {
  width: clamp(45ch, 50%, 75ch);
}

/*Create space between elements without the affecting the first*/
.flow > * + * {
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
}

.flex {
  display: flex;
  gap: 1rem;
}

.btn {
  cursor: pointer;
  text-decoration: none;
  width: fit-content;
  border-radius: 0.5rem;
  padding: 1em 2em;
  font-weight: $fw-bold;
  line-height: 1;

  &:hover,
  &:focus {
    opacity: 0.9;
  }
}
