@use 'variables' as *;

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 374px) {
  .buttons__header {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 585px) {
  .about__cards__wrapper {
    gap: 2.5rem !important;
    .card__1 {
      justify-self: flex-end !important;
    }
    .card__2 {
      justify-self: flex-start !important;
    }
    .card__3 {
      justify-self: flex-end !important;
    }
    .card__4 {
      justify-self: flex-start !important;
    }
  }
}

/* For medium devices */
@media screen and (min-width: 767px) {
  header {
    .speaker__img__header {
      display: block !important;
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(11%, -35%);
      width: 350px;
    }
  }

  .about {
    .about__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      h1,
      p {
        text-align: center;
      }
    }

    .about__cards__wrapper {
      gap: 1rem !important;
      grid-template-columns: repeat(4, 1fr);
      .card__2 {
        justify-self: center !important;
      }
      .card__3 {
        justify-self: center !important;
      }
    }
  }

  .speakers {
    .speakers__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .speakers__card__wrapper {
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)) !important;
    }
  }

  .tickets {
    .sponsors__content {
      margin-bottom: 30px;
    }
    .sponsors__grid {
      grid-template-columns: repeat(4, 1fr) !important;
      img {
        width: 120px !important;
      }
    }
  }

  .reviews {
    position: relative;
    overflow: hidden;
    .reviews__ct {
      .reviews__content {
        margin-left: 15%;
        width: 50%;
        p {
          max-width: 40ch;
        }
      }
    }
    .reviews__img__wp {
      width: 300px;
      display: block !important;
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(132%, -45%);
    }
  }

  footer {
    .firstpart__wrapper {
      flex-direction: row !important;
      justify-content: center;
      .footer__content {
        width: 50%;
        span {
          max-width: 40ch;
        }
      }
      .footer__faqs {
        max-width: 40ch;
      }
    }

    .copys__wrapper {
      flex-direction: row !important;
      width: 100%;
      justify-content: space-between !important;
    }
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  header {
    .speaker__img__header {
      transform: translate(11%, -44%);
      width: 450px;
    }
    .burguer__menu {
      display: none;
    }

    nav {
      justify-content: space-between !important;
      margin-bottom: 150px !important;
      .brand__logo {
        a {
          font-size: 2.8rem !important;
        }
      }
      .nav__laptop__links {
        display: flex !important;
        align-items: center;
        gap: 40px;
        a {
          color: $body-color;
          font-size: 1.1rem;
          opacity: 0.7;
          &:hover {
            border-bottom: 1px solid $body-color;
          }
        }
        button {
          width: fit-content;
          padding: 8px 22px;
          border-radius: 22px;
          background: transparent;
          border: 1px solid $body-color;
          color: $body-color;
          font-weight: $fw-medium;
          opacity: 0.9;

          &:hover {
            border: 1px solid $action-color;
          }
        }
      }
    }
  }

  .about {
    .about__ct {
      margin-bottom: 100px;

      .about__img__wrapper {
        margin-bottom: 150px !important;
      }
    }
  }

  .speakers {
    .speakers__card__wrapper {
      grid-template-columns: repeat(5, 1fr) !important;
      gap: 3.5rem !important;
    }
  }

  .reviews {
    padding-top: 100px !important;
    .reviews__img__wp {
      width: 380px;
      transform: translate(132%, -50%);
    }
  }
}

@media screen and(min-width:1400px) {
  header {
    .speaker__img__header {
      transform: translate(11%, -35%);
      width: 650px;
    }

    nav {
      margin-bottom: 220px !important;
      .brand__logo {
        a {
          h1 {
            font-size: 2rem;
          }
        }
      }

      .nav__laptop__links {
        a {
          font-size: 1.4rem;
        }
        button {
          font-size: 1.3rem;
        }
      }
    }

    .header__content {
      /*   margin-top: 200px !important; */
      span:first-child {
        font-size: 1.5rem !important;
      }
      h1 {
        font-size: 2.2rem !important;
      }
      p {
        font-size: 1rem !important;
      }

      .buttons__header {
        button {
          font-size: 1.2rem !important;
        }
      }
    }
  }

  .reviews {
    .reviews__content {
      margin-left: 80px !important;
      span:first-of-type {
        font-size: 1.2rem !important;
      }
      h1 {
        font-size: 1.7rem !important;
      }
      h3 {
        font-size: 1.3rem !important ;
      }
      .rv__speaker__info {
        span {
          font-size: 1rem !important;
        }
        h4 {
          font-size: 1.2rem !important;
        }
      }
    }
  }
}
