/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
}
@media screen and (min-width: 585px) {
  .about__cards__wrapper {
    gap: 2.5rem !important;
    .card__1 {
      justify-self: flex-end !important;
    }
    .card__2 {
      justify-self: flex-start !important;
    }
    .card__3 {
      justify-self: flex-end !important;
    }
    .card__4 {
      justify-self: flex-start !important;
    }
  }
}

/* For medium devices */
@media screen and (min-width: 767px) {
  header {
    .speaker__img__header {
      display: block !important;
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(11%, -35%);
      width: 350px;
    }
  }

  .about {
    .about__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      h1,
      p {
        text-align: center;
      }
    }

    .about__cards__wrapper {
      gap: 1rem !important;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
}
