@use 'variables' as *;

.nav__mobile {
  position: absolute;
  z-index: 100;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -60%);
  background-color: $body-color;
  height: 78%;
  width: 95%;
  border-radius: 20px;
  display: grid;
  place-items: center;
  transition: all 0.5s ease-in-out;

  .nav__mobile__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    a {
      color: $brand-color;
      font-size: $fs-big;

      &:hover {
        color: $action-color;
        border-bottom: 1px solid $action-color;
      }
    }
  }

  i {
    cursor: pointer;
    position: absolute;
    top: 3%;
    right: 7%;
    font-size: 2rem;
  }
}
